<div class="p-2">
<a href="{{ .Permalink }}">
  {{ if .Params.thumbnail }}
  <div class="relative">
    {{ with resources.Get .Params.thumbnail }}
      {{ partial "img.html" (dict "img" . "alt" .Params.title "class" "rounded-lg shadow-sm w-full h-52 object-cover" ) }}
    {{ end }}
    {{ if not (or (or .Site.Params.hideMeta .Params.hideMeta) false) }}
    <div class="absolute top-4 right-4 rounded shadow bg-white text-gray-900 dark:bg-gray-900 dark:text-white text-sm px-2 py-0.5">
      {{ partial "date.html" (dict "date" .Date "language" $.Page.Language "format" "short") }}
    </div>
    {{ end }}
  </div>
  {{ end }}
  <div class="my-2 text-xl font-semibold">{{ .Params.title }}</div>
  <div>{{ .Params.description }}</div>
</a>
{{ if not (or (or .Site.Params.hideOtherLanguages .Params.hideOtherLanguages) false) }}
  {{ if .IsTranslated -}}
    <div style="font-style: italic;font-size: smaller;">
      {{- $sortedTranslations := sort .Translations "Site.Language.Weight" -}}
      {{- $links := apply $sortedTranslations "partial" "translation_link.html" "." -}}
      {{- $cleanLinks := apply $links "chomp" "." -}}
      {{- $linksOutput := delimit $cleanLinks (i18n "translationsSeparator") -}}
      {{ i18n "translationsLabel" }}{{ $linksOutput }}
    </div>
  {{- end }}
{{ end }}
</div>
