<header class="container flex justify-between md:justify-between gap-4 flex-wrap p-6 mx-auto relative">
  <a href="{{ .Site.Home.Permalink }}" class="capitalize font-extrabold text-2xl">
    <svg xmlns="http://www.w3.org/2000/svg" width="45" height="45" viewBox="0 0 821.000000 783.000000" preserveAspectRatio="xMidYMid meet">
      <g transform="translate(0.000000,783.000000) scale(0.100000,-0.100000)" stroke="none">
        <path fill="currentColor" fill-rule="evenodd" clip-rule="evenodd"  d="M3775 7824 c-610 -62 -1071 -189 -1560 -429 -980 -483 -1705 -1309
        -2033 -2317 -129 -393 -182 -734 -182 -1163 0 -251 14 -421 50 -637 131 -769
        518 -1509 1084 -2073 589 -586 1359 -986 2196 -1139 292 -53 390 -61 775 -61
        385 0 483 8 775 61 646 118 1265 389 1780 778 872 658 1422 1623 1535 2694 19
        179 19 575 0 754 -94 885 -486 1702 -1119 2333 -582 580 -1342 977 -2171 1135
        -269 51 -394 62 -750 65 -187 1 -358 1 -380 -1z m2985 -1940 c6 -15 10 -290
        10 -711 l0 -685 -139 -222 c-327 -522 -453 -722 -462 -730 -5 -6 -9 15 -9 55
        0 35 -5 228 -10 429 -5 201 -10 463 -11 583 -3 225 -8 257 -45 257 -13 0 -377
        -211 -1039 -603 -33 -19 -61 -34 -63 -33 -1 2 46 101 104 222 59 120 142 293
        186 384 44 91 109 224 143 296 l63 130 59 31 c76 41 662 346 878 458 94 49
        202 106 240 127 39 21 73 38 78 38 4 0 12 -12 17 -26z m-4171 -635 c64 -34
        247 -132 406 -217 160 -85 328 -175 375 -200 47 -24 108 -57 135 -72 28 -15
        95 -51 150 -80 151 -80 163 -88 193 -138 l27 -47 -3 -460 c-12 -1681 -21
        -2308 -33 -2315 -7 -5 -19 -5 -28 -2 -13 5 -295 158 -896 487 -80 43 -1042
        568 -1125 613 -36 19 -101 55 -145 79 -94 51 -148 106 -163 165 -6 25 -15 276
        -21 593 -6 303 -14 637 -17 743 -6 171 -4 192 10 192 8 0 129 -85 268 -188
        476 -354 763 -567 796 -591 48 -34 98 -32 130 4 30 35 29 54 -17 338 -33 202
        -80 489 -111 682 -11 66 -31 191 -45 277 -28 176 -30 198 -14 198 7 0 64 -28
        128 -61z m2761 -73 c0 -6 -125 -267 -399 -830 -61 -126 -111 -236 -111 -245 0
        -21 19 -41 38 -41 7 0 145 77 305 172 161 95 420 248 577 340 223 132 285 164
        287 150 3 -25 22 -943 25 -1163 1 -103 5 -196 10 -208 5 -15 16 -21 36 -21 26
        0 37 14 124 153 331 529 511 813 519 822 5 5 9 -229 9 -591 l0 -600 -22 -44
        c-13 -24 -39 -56 -58 -71 -19 -14 -296 -158 -615 -319 -319 -161 -697 -352
        -840 -425 -880 -448 -1075 -544 -1091 -538 -16 6 -17 45 -11 592 19 1695 28
        2167 39 2196 30 80 39 87 383 265 77 40 228 119 335 175 107 57 225 117 262
        134 36 17 93 46 125 66 55 33 73 41 73 31z"/>
        <path fill="currentColor" d="M3491 3629 c-78 -23 -177 -114 -222 -206 -20 -40 -24 -63 -24 -143 1
        -107 18 -155 59 -166 39 -10 62 4 82 48 39 86 73 127 154 184 90 63 120 101
        120 153 0 47 -36 105 -76 125 -39 18 -45 18 -93 5z"/>
        <path fill="currentColor" d="M2532 3020 c-69 -25 -114 -53 -151 -95 -63 -72 -46 -160 41 -203 40
        -20 51 -22 85 -13 22 6 66 28 99 49 84 54 135 72 207 72 78 0 107 17 107 65 0
        27 -8 40 -42 69 -86 74 -231 98 -346 56z"/>
        </g>
      
    </svg>
  </a>
  <button class="mobile-menu-button md:hidden">
    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
      <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
      <line x1="4" y1="8" x2="20" y2="8" />
      <line x1="4" y1="16" x2="20" y2="16" />
    </svg>
  </button>
  <ul class="mobile-menu absolute z-10 px-6 pb-6 md:p-0 top-full left-0 w-full md:w-auto md:relative hidden md:flex flex-col md:flex-row items-end md:items-center gap-4 lg:gap-6 bg-white dark:bg-gray-800">

    {{ range .Site.Menus.main }}
    <li><a href="{{ .URL | relLangURL }}">{{ .Name }}</a></li>
    {{ end }}

    {{ if .Site.IsMultiLingual }}
    {{ if ge (len .Site.Languages) 3 }}
    <li class="relative cursor-pointer">
      <span class="language-switcher flex items-center gap-2">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24"
          stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="9" />
          <line x1="3.6" y1="9" x2="20.4" y2="9" />
          <line x1="3.6" y1="15" x2="20.4" y2="15" />
          <path d="M11.5 3a17 17 0 0 0 0 18" />
          <path d="M12.5 3a17 17 0 0 1 0 18" />
        </svg>
        <a>{{ i18n "languageSwitcherLabel" }}</a>
        <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14"
          viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" fill="none" stroke-linecap="round"
          stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <path d="M18 15l-6 -6l-6 6h12" transform="rotate(180 12 12)" />
        </svg>
      </span>
      <div
        class="language-dropdown absolute top-full mt-2 left-0 flex-col gap-2 bg-gray-100 dark:bg-gray-900 dark:text-white z-10 hidden">
        {{ range .Site.Languages }}
        {{ if not (eq .Lang $.Site.Language.Lang) }}
        <a class="px-3 py-2 hover:bg-gray-200 dark:hover:bg-gray-700" href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
        {{ end }}
        {{ end }}
      </div>
    </li>
    {{ else }}
    <li class="flex items-center">
      {{ range .Site.Languages }}
      {{ if not (eq .Lang $.Site.Language.Lang) }}
      <svg xmlns="http://www.w3.org/2000/svg" class="mr-2" width="16" height="16" viewBox="0 0 24 24" stroke-width="1.5"
        stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
        <circle cx="12" cy="12" r="9" />
        <line x1="3.6" y1="9" x2="20.4" y2="9" />
        <line x1="3.6" y1="15" x2="20.4" y2="15" />
        <path d="M11.5 3a17 17 0 0 0 0 18" />
        <path d="M12.5 3a17 17 0 0 1 0 18" />
      </svg>
      <a href="/{{ .Lang }}" lang="{{ .Lang }}">{{ default .Lang .LanguageName }}</a>
      {{ end }}
      {{ end }}
    </li>
    {{ end }}
    {{ end }}

    {{ if .Site.Params.enableSearch }}
    <li class="grid place-items-center">
      <span class="open-search inline-block cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="10" cy="10" r="7" />
          <line x1="21" y1="21" x2="15" y2="15" />
        </svg>
      </span>
    </li>
    {{ end }}

    {{ if .Site.Params.darkModeToggle }}
    <li class="grid place-items-center">
      <span class="toggle-dark-mode inline-block cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5"
          stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
          <circle cx="12" cy="12" r="3" />
          <line x1="12" y1="5" x2="12" y2="5.01" />
          <line x1="17" y1="7" x2="17" y2="7.01" />
          <line x1="19" y1="12" x2="19" y2="12.01" />
          <line x1="17" y1="17" x2="17" y2="17.01" />
          <line x1="12" y1="19" x2="12" y2="19.01" />
          <line x1="7" y1="17" x2="7" y2="17.01" />
          <line x1="5" y1="12" x2="5" y2="12.01" />
          <line x1="7" y1="7" x2="7" y2="7.01" />
        </svg>
      </span>
    </li>
    {{ end }}
  </ul>
</header>
