<section class="{{ .Site.Params.ascentColor | default "bg-pink-50" }} dark:bg-gray-900">
  <div class="container max-w-screen-lg mx-auto px-6 py-12 grid md:grid-cols-2 gap-4 lg:gap-16 items-center">
    <div>
      <h1 class="text-4xl font-bold mb-4" style="text-align: left;">{{ .Site.Params.introTitle | safeHTML}}</h1>
      <p class="font-light text-lg" style="text-align: left;">{{ .Site.Params.introSubtitle | safeHTML}}</p>
    </div>
    <div>

      {{ $alt :=  .Site.Title}}
      {{ with resources.Get .Site.Params.introPhoto }}
        {{ partial "img.html" (dict "img" . "alt" $alt "class" "rounded-lg shadow-sm" ) }}
      {{ end }}
    </div>
  </div>
</section>